.appBody {
    background-color: #F2F3F5;
    padding: 2vh 0;
    margin-top: 5vh;
}

/* barner styles */
.barner {
    width: 70%;
    background-color: #c94d3f;
    margin:1vh auto 3vh auto;
    height: 15vh;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    padding: 1vh 1vw;
    justify-content: space-between;
}
.text{
    font-size: 20px;
}

.text span{
    font-weight: 300;
}
.image{
    height: 100%;
    background-color: transparent;
}

.image img{
    height: 100%;
    background-color: transparent;
}


/* table styles */
.table {
    background-color: white;
    max-width: 70%;
    margin: auto;
    padding: 3vh 3vw;
    border-radius: 10px;
}

table {
    width: 100%;
    font-size: 13px;
    font-family: sans-serif;
    /* backdrop-filter: blur(5px); */

}

/* table, */
thead tr {
    color: #8f8a8a;
    font-weight: bold;
}

tr {
    height: 50px;
}

tr:hover {
    background-color: #faf9f9;
}

tbody {
    font-size: 12px;
    color: #8f8a8a;

}

tr .id {
    color: #58ABF8;
    font-weight: bold;
    font-size: 11px;
    text-transform: capitalize;
}

table {
    border: none;
    border-collapse: collapse;
}

th {
    height: 30px;
    border-bottom: 1px solid;
    border-left: 1px solid white;
    text-align: left;
    padding-left: 5px;
    background-color: rgb(176, 142, 209);
    color: black;
}

td {
    /* border: 1px solid;*/
    padding-left: 5px;
    border-bottom: 1px solid #ebebeb;
    word-wrap: break-word;
    max-width: 80px;
}

/* tr:nth-child(even) {background-color: #f2f2f2;} */


/* status styles */
.new {
    background-color: #ADE0F0;
    color: #0c4353;
    font-size: 9px;
    font-weight: bold;
    padding: 5px 9px;
    border-radius: 15px;
    text-transform: uppercase;
}

.confirmed {
    background-color: #A2EDCA;
    color: #135336;
    font-size: 9px;
    font-weight: bold;
    padding: 5px 9px;
    border-radius: 15px;
    text-transform: uppercase;
}

/* balance styles */
.price {
    color: rgb(204, 29, 29);
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
}

.overpaid {
    color: rgb(189, 167, 41);
    font-size: 9px;
    font-weight: bold;
    text-transform: uppercase;
}

/* view btn */
.viewInfo {
    background-color: #2F3C3F;
    color: white;
    font-weight: bold;
    font-size: 10px;
    border: none;
    border-radius: 3px;
    padding: 1vh 1vw;
    text-transform: lowercase;
}




.cards {
    width: 76%;
    margin: auto;
    margin-top: 2vh;
    display: flex;
    gap: 2vw;
    padding: 2vh 0vw;
}

.cards>* {
    background-color: white;
    width: 100%;
    border-radius: 10px;
    font-family: sans-serif;
}

/* Card head */
.topic {
    display: flex;
    justify-content: space-between;
}

.topic p {
    float: inline-start;
    font-size: 13px;
    text-transform: capitalize;
    color: #2F3C3F;
}

.topic button {
    height: 4.5vh;
    color: #8f8a8a;
    margin-top: auto;
    border: 1px solid #c5c0c0;
    border-radius: 3px;
}

.card {
    padding: 1vh 1vw;
}

.card hr {
    height: 0.001vh;
    color: #ffffff;
    font-size: 1px;
    margin: 2vh 0vw 0vh 0vw;
}

/* first card */
.totals {
    padding: 0vh 2vw;
}

.totals>* {
    display: flex;
    justify-content: space-between;

}

.total {
    font-size: 24px;
    font-family: sans-serif;
}

.upcoming {
    font-size: 13px;
    color: #2F3C3F;
}

/* middle card */

.cardHead {
    font-size: 12px;
    text-align: center;
    color: #666363;
}

.chart {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 15px;
}

.slice {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip: rect(0, 100px, 200px, 100px);
}

.slice-1 {
    transform: rotate(0deg);
    /* background-color: #79140d; */
    background-color: #4CAF50;
}

.slice-2 {
    transform: rotate(120deg);
}

.slice-3 {
    transform: rotate(240deg);
    background-color: #2196F3;
}

.center {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: white;
    border-radius: 50%;
}

/* 
.donut{
    border: 1px solid;
    height: 10%;
}

.donuti{
    border: 1px solid yellow;
    height: 50%;
} */

.coloLabels {
    font-size: 12px;
}

.dot {
    height: 9px;
    width: 10vw;
    padding: 0vh .18vw;
    background-color: #597BBA;
    color: #597BBA;
    border: 1px solid;
    border-radius: 55%;
    margin-right: .5vw;
}

.doti {
    height: 9px;
    width: 10vw;
    padding: 0vh .18vw;
    background-color: #BD2B1B;
    color: #BD2B1B;
    border: 1px solid;
    border-radius: 55%;
    margin-right: .5vw;
}