.landnav {
    display: flex;
    border: none;
    background-color: #363F4E;
    color: white;
    align-items: center;
    padding: 0px 10px;
    height: 7.5vh;
}

.link {
    text-decoration: none;
    align-self: center;
}

.landnavRight {
    display: flex;
}

.nav-right-item {
    margin: 0vh 2.5vw 0vh 0vw;
    color: rgb(243, 240, 240);
}

.landnavRight button {
    padding: 4px 8px;
    text-transform: capitalize;
    font-weight: 450;
    border-radius: 3px;
}

.loginbtn {
    color: #363F4E;
    margin-right: .9vw;
    border: none;
}

.registerbtn {
    border: none;
    color: white;
    background-color: #003D4C;
    border: 1px solid rgb(189, 187, 187);
}

/* landing top styles */
.landtopcontainer {
    display: flex;
    width: 75%;
    margin: auto;
    margin-top: 2.5vh;
    margin-bottom: 10vh;
}

.top-item-left {
    margin: auto;
    background-color: #F4F4F4;
    max-width: 30vw;
    padding: 3vh;
    z-index: 1;
    margin-right: -4vw;
    height: fit-content;
    font-size: 1.2rem;
}

.top-item-left h1 {
    color: #0B3B49;
    font-weight: 600;
}

.top-item-left p {
    color: #315664;
}

.top-item-left button {
    color: white;
    background-color: #008A7D;
    border: none;
    margin-right: 0.7vw;
    font-weight: 450;
    padding: 7px 15px;
    border-radius: 3px;
}

.top-item-left small {
    display: block;
    color: #315664;
    font-size: 11px;
    margin-top: 2vh;
}

.top-item-right {
    width: 95%;
}

.top-item-right img {
    width: 100%;
}

.horizontal {
    width: 40%;
    height: 0.00002vh;
    color: #ffffff;
}

/* baked styles */
.baked {
    display: flex;
    width: 80%;
    margin: auto;
    margin: 10vh auto;
}

.baked-item-left {
    min-width: 70%;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #F4F4F4;
}

.baked-item-left img {
    width: 95%;
    height: 95%;
    align-self: center;
    justify-self: center;
}

.baked-item-right {
    height: fit-content;
    margin: auto;
    padding: 3vh 2vw;
    font-family: sans-serif;
    min-width: 31%;
}

.baked-item-right h2 {
    color: #00365D;
    font-size: 2.5rem;
    font-weight: 200;
}

.baked-item-right p {
    color: #7b8392;
    font-size: 16px;
    line-height: 4vh;
}

/* Features styles */
.features {
    text-align: center;
    width: 60%;
    margin: auto;
    color: #09314e;

}

.features h2 {
    font-size: 2.5rem;
    font-weight: 300;
}

.features p {
    width: 60%;
    margin: auto;
}

/* anime stles */
.anime {
    width: 100%;
    margin: 4vh 0vw;
}

.anime img {
    width: 100%;
}

.anime h3 {
    margin-top: 0;
}




* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}































/* end of anime */

.chevrons {
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
}

.fa-circle-chevron-right,
.fa-circle-chevron-left {
    font-size: 2.5rem;
}

.fa-circle-chevron-left {
    margin-right: 2vw;
}


/* Contact us section styles */
.contactUs {
    text-align: center;
    color: #09314e;
    margin: 3vh 0vw;
    width: 85%;
    margin: auto;
}

.contactUs h2 {
    font-size: 2.5rem;
    font-weight: 300;
}

.contactForm {
    margin: 10vh 8vw;
    font-family: sans-serif;
}

.inputs {
    display: flex;

}

.inputs div {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.inputs .name {
    margin-right: 2vw;
}

.inputs div label {
    margin-bottom: 2vh;
}

.inputs div input {
    height: 4vh;
    border: none;
    border-bottom: 1px solid;
    font-size: 15px;
    color: #294e69;
}

.textarea {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 8vh;
}

.textarea textarea {
    height: 7vh;
    border: none;
    border-bottom: 1px solid;
    font-size: 15px;
    color: #294e69;
}

.contactForm button {
    color: white;
    background-color: #003D4C;
    padding: 1.5vh 2vw;
    margin-top: 3vh;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    text-transform: capitalize;
}

/* pseudo */
.inputs div input:hover,
.textarea textarea:hover {
    border-bottom: 3px solid;
}

.inputs div input:focus,
.textarea textarea:focus {
    border-bottom: 3px solid;
    outline: none;
}