.navbar{
    display: flex;
    flex-direction: column;
    height: 10vh;
    /* height: 100%; */
}
.navigation{
    display: flex;
    border: none;
    background-color: #363F4E;
    color: white;
    align-items: center;
    padding: 0px 10px;
    height: 100%;
}
.navLeft{
    margin-right: auto;
    color: #2DD1AC;
}
.navLeft span{
    color:#363F4E;
    background-color: #2DD1AC;
    padding: 0px 3px;
    border-radius: 2px;
}
.navRight{
    display: flex;
}

.navRight h6{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    text-transform: capitalize;
    height: 100%;
    margin-right: 15px ;
    height: 9.7vh;
    align-items: center;
    border-radius: 5px;
    padding:0px .5vw ;

}
.navRight h6:hover{
    background-color: #4B5360;
}

.vertical{
    min-height: 13px;
    padding: 0;
    margin-right:0 ;
    margin-left:0 ;
}

.navRight h6 i{
    font-size: 18px;
    margin-right: 7px;
    
}
.dashboard{
    display: flex;
    padding: 0px 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    background-color: white;
}
.dashboardHeading{
    margin-right: auto;
}

.dashboard button{
    background-color: #008A7A;
    color: white;
    border: none;
    align-self: center;
    padding: 7px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
}