.body {
    color: white;
    width: 60%;
    margin: auto;
}

.text {
    font-size: 60px;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: -5px 1px 0 #d81cbf, 0 0px 0 red;
    color: #FFDF00;
    margin: auto;
    transform: rotate(357deg);
    height: 20vh;
    padding-top: 1vh;
    width: 90%;
}

.battleLearn p {
    display: inline-block;
    margin-right: 1vw;
    margin-top: 0;
    font-family: Ubuntu, UbuntuMono, UbuntuLight, UbuntuMedium, UbuntuCondensed;
}

.learncss {
    font-size: 70px;
    text-transform: uppercase;
}

.description {
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    letter-spacing: .01vw;
    margin-bottom: 4vh;
}

.barnerContainer {
    height: 15vh;
    padding-bottom: 15vh;
}

.barner {
    display: flex;
    height: 100%;
    width: 90%;
    background-color: rgb(8, 8, 8);
    font-family: IBM Plex Mono,
        Menlo,
        DejaVu Sans Mono,
        Lucida, Console,
        monospace;
        padding: 2vh 2vw;
        border-radius: 10px;
}
.barner img{
    border-radius: 50%;
    margin-right: 2vw;
    height: 90%;
}